*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.mainDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contentMain{
    /* border: 2px solid green; */
    width: 200px;
    height: fit-content;
    margin: 20px;
    font-size: 10px;

}

.contentMain img{
    height: 200px;
    width: 100%;
}